html{
	font-size: 20px;
}
a{
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#box{
	[v-cloak]{
	display:none;
}
}
#seek{
	width:16.0rem;
	height: 2.226rem;
	background:#3c4854;
}
#box #seek a{
	float: left;
	margin-left: 0.297rem;
	margin-top:0.742rem;
	width: 0.4rem;
	height: 1.573rem;
	background: url(../img/tui.png) no-repeat;
	background-size: 100%;
}
#box #seek input{
	float: left;
	margin-left: 0.742rem;
	width: 13rem;
	height: 1.5rem;
	background: #3c4854;
	border:0;
	border-bottom:1px solid #747a81; 

}
#box ul{
	width: 100%;
}
#box ul li{
	width: 100%;
	height:1.484rem;
	line-height:1.484rem;
	padding-left:1.484rem;
/*	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;*/
}
#box ul li:hover{
	background: rgba(0,0,0,0.5);
}